In [2]:
import pandas as pa
import numpy as np

aide_alimentaire = pa.read_csv("data/aide_alimentaire.csv")
dispo_alimentaire = pa.read_csv("data/dispo_alimentaire.csv")
population = pa.read_csv("data/population.csv")
sous_nutrition = pa.read_csv("data/sous_nutrition_v1.csv")

In [3]:
#remplacer les NaN par 0
dispo_alimentaire.fillna(value=0,inplace=True)
aide_alimentaire.fillna(value=0,inplace=True)
population.fillna(value=0,inplace=True)
sous_nutrition.fillna(value=0,inplace=True)

In [4]:
#renommer les colonnes
aide_alimentaire.rename(columns={"Valeur":"V_aide_alimentaire","Pays bénéficiaire":"Pays"}, inplace=True)
dispo_alimentaire.rename(columns={"Zone":"Pays"}, inplace=True)
population.rename(columns={"Valeur":"V_population","Zone":"Pays"}, inplace=True)
sous_nutrition.rename(columns={"Valeur":"V_sous_nutrition","Zone":"Pays"}, inplace=True)

In [5]:
def homogene(data_frame, colonnes, coef):
    for col in colonnes:
        data_frame[col]=(data_frame[col].astype('float'))*coef
    return data_frame

#multiplier par 10**6 toutes les colonnes dont l'unité est milliers de tonnes, pour homogénéiser en kg
liste_dispo_alimentaire=[
    "Aliments pour animaux",
    "Disponibilité intérieure",
    "Exportations - Quantité",
    "Importations - Quantité",
    "Nourriture",
    "Pertes",
    "Production",
    "Semences",
    "Variation de stock",
    "Autres Utilisations",
    "Traitement"
]

homogene(dispo_alimentaire,liste_dispo_alimentaire,10**6)


dispo_alimentaire.head()

,Pays,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

In [6]:
#multiplier par 1000 pour avoir en kg
homogene(aide_alimentaire,["V_aide_alimentaire"],10**3)
aide_alimentaire.head()

          Pays  Année              Produit  V_aide_alimentaire
0  Afghanistan   2013  Autres non-céréales            682000.0
1  Afghanistan   2014  Autres non-céréales            335000.0
2  Afghanistan   2013         Blé et Farin          39224000.0
3  Afghanistan   2014         Blé et Farin          15160000.0
4  Afghanistan   2013             Céréales          40504000.0

In [7]:
#La population étant en milliers d'habitant,multiplier par 1 000  pour avoir en habitants
homogene(population, ["V_population"], 10**3)
population.head()

          Pays  Année  V_population
0  Afghanistan   2013    32269589.0
1  Afghanistan   2014    33370794.0
2  Afghanistan   2015    34413603.0
3  Afghanistan   2016    35383032.0
4  Afghanistan   2017    36296113.0

In [8]:
#multiplier par 1 000 000 pour avoir en habitants
homogene(sous_nutrition, ["V_sous_nutrition"], 10**6)

sous_nutrition.head()

          Pays      Année  V_sous_nutrition
0  Afghanistan  2012-2014         8600000.0
1  Afghanistan  2013-2015         8800000.0
2  Afghanistan  2014-2016         8900000.0
3  Afghanistan  2015-2017         9700000.0
4  Afghanistan  2016-2018        10500000.0

# la mission #
**Mail de Marc**

**Proportion de personnes en sous nutrition pour l'année 2017**
<br><li>une jointure entre population et sous nutrition</li><br>

In [9]:
pop=population.loc[population['Année'] == 2017]
sn=sous_nutrition.loc[sous_nutrition['Année'] == '2016-2018']
pop_sn=pa.merge(pop, sn, on='Pays')
pop_sn.head()

             Pays  Année_x  V_population    Année_y  V_sous_nutrition
0     Afghanistan     2017    36296113.0  2016-2018        10500000.0
1  Afrique du Sud     2017    57009756.0  2016-2018         3100000.0
2         Albanie     2017     2884169.0  2016-2018          100000.0
3         Algérie     2017    41389189.0  2016-2018         1300000.0
4       Allemagne     2017    82658409.0  2016-2018               0.0

In [10]:
print("la Proportion de personnes en sous nutrition pour l'année 2017 est:",
      pop_sn['V_sous_nutrition'].sum()*100/pop_sn['V_population'].sum(),"%")

la Proportion de personnes en sous nutrition pour l'année 2017 est: 7.127708675061944 %

**le nombre théorique de personnes qui pourraient être nourries. Tu devrais pouvoir calculer ça à partir de la disponibilité alimentaire mondiale**
<li>convertir la colonne de disponibilité alimentaire en kcal. Celle ci est actuellement en kcal/pers/j</li>
<li>multiplier par la population et par 365.</li>
<li>Devise par (2500*365)car l'Humain a besoin presque 2500 kcal/j.</li>

In [11]:
dispo_alimentaire_pop=pa.merge(dispo_alimentaire, pop, on='Pays')
dispo_kcal=dispo_alimentaire_pop['Disponibilité alimentaire (Kcal/personne/jour)']*dispo_alimentaire_pop['V_population']*365
dispo_kcal_tot= dispo_kcal.sum()
print("dispo alimentaire totale en kcal est:", dispo_kcal_tot,"kcal")

dispo alimentaire totale en kcal est: 7635429388975815.0 kcal

In [12]:
dispo_kcal_hum=round(dispo_kcal_tot/(2500*365),2)
print("Total d'être humain pouvant être nourris est:",dispo_kcal_hum )

Total d'être humain pouvant être nourris est: 8367593850.93

In [13]:
prop=round(dispo_kcal_hum*100/pop['V_population'].sum())
print("proportion total d'être humain pouvant être nourris est:",prop,"%")

proportion total d'être humain pouvant être nourris est: 111 %

**idem pour la disponibilité alimentaire des produits végétaux**

In [14]:
vegetaux = dispo_alimentaire.loc[dispo_alimentaire['Origine'] == "vegetale",:]
pop_veg=pa.merge(pop,vegetaux ,on='Pays')
pop_veg.head()

,Pays,Année,V_population,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,2017,36296113.0,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
1,Afghanistan,2017,36296113.0,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,2017,36296113.0,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,2017,36296113.0,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,2017,36296113.0,Bière,vegetale,0.0,0.0,0.0,0.09,0.00,0.00,3000000.0,0.0,3000000.0,3000000.0,0.0,0.0,0.0,0.0,0.0

In [15]:
dispo_veg_kcal=pop_veg['Disponibilité alimentaire (Kcal/personne/jour)']*pop_veg['V_population']*365
dispo_veg_kcal_tot=dispo_veg_kcal.sum()
print("dispo alimentaire totale en kcal des produits végétaux est:", 
      dispo_veg_kcal.sum(),"kcal")

dispo alimentaire totale en kcal des produits végétaux est: 6300178937197865.0 kcal

In [16]:
dispo_kcal_hum_vegt=round(dispo_veg_kcal_tot.sum()/(2500*365))
print("Total d'être humain pouvant être nourris est:",
      dispo_kcal_hum_vegt)

Total d'être humain pouvant être nourris est: 6904305685

In [17]:
print("la proportion Total d'être humain pouvant être nourris est:",
      dispo_kcal_hum_vegt*100/pop['V_population'].sum(),
      "%")

la proportion Total d'être humain pouvant être nourris est: 91.47036318470097 %

**L’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine.**
<br><li>créer une fonction définit proportion avec les paramétres(data_frame,list_disp_int,dispo_int)et on prend comme liste['Aliments pour animaux','Nourriture','Pertes']</li><br>

In [18]:
dispo_int = dispo_alimentaire['Disponibilité intérieure'].sum()
list_disp_int=['Aliments pour animaux','Nourriture','Pertes']
def proportion(data_frame,list_disp_int,dispo_int):
     return data_frame[list_disp_int].sum()*100/dispo_int

In [19]:
print("la proportion de Aliments pour animaux est:",proportion(dispo_alimentaire,'Aliments pour animaux',dispo_int),"%")
print("la proportion de Nourriture est:",proportion(dispo_alimentaire,'Nourriture',dispo_int),"%")
print("la proportion de Pertes est:",proportion(dispo_alimentaire,'Pertes',dispo_int),"%")

la proportion de Aliments pour animaux est: 13.242418464261426 %
la proportion de Nourriture est: 49.51021393657058 %
la proportion de Pertes est: 4.606541541196999 %

**Données laisséés par Julien**
<br><li>Téléchargé les données(La liste des céréales)comme fichier.csv à partir le lien suivante http://www.fao.org/faostat/fr/#data dans l’onglet Bilans alimentaires.<br></li>
 <br><li>Importe pandas pour selectionner la liste de céréale à partir la fonction.unique()<br></li>
 <br><li>Calculer les proportions d'alimentation animale et humaine.<br></li>

In [20]:
liste_cereales= pa.read_csv("data/cereale.csv")
liste_cereales.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,7151,S,Données standardisées
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5301,Disponibilité intérieure,2807,Riz et produits,2017,2017,Milliers de tonnes,739,S,Données standardisées
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5301,Disponibilité intérieure,2513,Orge et produits,2017,2017,Milliers de tonnes,150,S,Données standardisées
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5301,Disponibilité intérieure,2514,Maïs et produits,2017,2017,Milliers de tonnes,203,S,Données standardisées
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5301,Disponibilité intérieure,2515,Seigle et produits,2017,2017,Milliers de tonnes,0,S,Données standardisées

In [21]:
liste_cereales['Produit'].unique()

array(['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres'],
      dtype=object)

In [22]:
liste_cereales=['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres']
cereales = dispo_alimentaire.loc[dispo_alimentaire['Produit'].isin(liste_cereales)] 

Prop_alim_animale =cereales['Aliments pour animaux'].sum()*100/cereales['Disponibilité intérieure'].sum()
Prop_alim_humaine=cereales['Nourriture'].sum()*100/cereales['Disponibilité intérieure'].sum()
print("proportion alimentaire animale",Prop_alim_animale,'%')
print("proportion alimentaire humaine ",Prop_alim_humaine,'%')

proportion alimentaire animale 69.33506248526291 %
proportion alimentaire humaine  18.130550970683014 %

Exemple de la Thaïlande 
 <li>La Proportion en sous nutrition en Thaïlande</li>

In [23]:
thail=pop_sn.loc[pop_sn['Pays']=='Thaïlande',:]
thail

          Pays  Année_x  V_population    Année_y  V_sous_nutrition
185  Thaïlande     2017    69209810.0  2016-2018         6200000.0

In [24]:
prop_thail=thail['V_sous_nutrition'].iloc[0]*100/thail['V_population'].iloc[0]
print(" Proportion en sous nutrition en Thaïlande est:",prop_thail,"%")

 Proportion en sous nutrition en Thaïlande est: 8.958267621309753 %

Exemple du Manioc :
<br><li>dispo_alimentaire avec le produit Manioc et le pays Thaïlande<br></li>
<br><li>Calculer la proportion exportée à partir de la production<br></li>

In [25]:
thail_manioc=dispo_alimentaire.loc[(dispo_alimentaire['Produit']=='Manioc')& (dispo_alimentaire['Pays']=='Thaïlande'),:]
thail_manioc

,Pays,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
13809,Thaïlande,Manioc,vegetale,1.800000e+09,2.081000e+09,40.0,13.0,0.05,0.14,6.264000e+09,2.521400e+10,1.250000e+09,871000000.0,1.511000e+09,3.022800e+10,0.0,0.0,0.0

In [26]:
prop_expor=thail_manioc['Exportations - Quantité'].iloc[0]*100/thail_manioc['Production'].iloc[0]
print("Proportion de manioc exportée est:", prop_expor,"%")

Proportion de manioc exportée est: 83.41272991928014 %


**Demande de Mélanie:** 
<br><li>Calculer la Proportion de personnes en sous nutrition pour l'année 2017,utilizez la foction.sort_values() avec l'orde décroissant.<br></li>
<br><li>Appliquer groupe by pays et somme sur V_aide_alimentaire pour avoir le plus bénéficié d’aide_alimentaire depuis 2013 avec l'orde décroissant.<br></li>

In [28]:
pop_sn['proportion']= pop_sn['V_sous_nutrition']/pop_sn['V_population']
pop_sn[['Pays','proportion']].sort_values(by='proportion',ascending=False).head(10)

                                           Pays  proportion
51                                    Dominique    1.399423
164             Saint-Vincent-et-les Grenadines    0.910523
98                                     Kiribati    0.875979
167                        Sao Tomé-et-Principe    0.482884
78                                        Haïti    0.482592
157  République populaire démocratique de Corée    0.471887
108                                  Madagascar    0.410629
103                                     Libéria    0.382797
100                                     Lesotho    0.382494
183                                       Tchad    0.379576

In [35]:
aide_alimentaire=aide_alimentaire.loc[aide_alimentaire['Année']>=2013]

In [36]:
bénéfi=aide_alimentaire[['Pays','V_aide_alimentaire']].groupby('Pays').sum()
bénéfi.sort_values(by='V_aide_alimentaire', ascending=False).head(10)

                                  V_aide_alimentaire
Pays
République arabe syrienne               1.858943e+09
Éthiopie                                1.381294e+09
Yémen                                   1.206484e+09
Soudan du Sud                           6.952480e+08
Soudan                                  6.697840e+08
Kenya                                   5.528360e+08
Bangladesh                              3.481880e+08
Somalie                                 2.926780e+08
République démocratique du Congo        2.885020e+08
Niger                                   2.763440e+08

Les pays ayant le plus de disponibilité alimentaire/habitant
<li>Appliquer l'agrégation (groupby('Pays').sum())</li>
<li>Une merge entre dispo_alimentaire et poppulation en 2017</li>
<br>Les pays ayant le moins de disponibilité alimentaire/habitant<br>
<li> De mme juste on a ajoute la fonction.sort_values(by='Disponibilité alimentaire (Kcal/personne/jour)',ascending=False)</li>

In [37]:
#dispo_alimentaire et poppulation en 2017
dispo_alimentaire_pop=pa.merge(dispo_alimentaire, pop, on='Pays')
dispo_alimentaire_pop_gb=dispo_alimentaire_pop[['Pays','Produit','Disponibilité alimentaire (Kcal/personne/jour)']].groupby('Pays').sum()
dispo_alimentaire_pop_gb.sort_values(by='Disponibilité alimentaire (Kcal/personne/jour)').head(10)

                                            Disponibilité alimentaire (Kcal/personne/jour)
Pays
République centrafricaine                                                           1879.0
Zambie                                                                              1924.0
Madagascar                                                                          2056.0
Afghanistan                                                                         2087.0
Haïti                                                                               2089.0
République populaire démocratique de Corée                                          2093.0
Tchad                                                                               2109.0
Zimbabwe                                                                            2113.0
Ouganda                                                                             2126.0
Timor-Leste                                                                         2129.0

In [38]:
p_dispo=dispo_alimentaire_pop_gb.sort_values(by='Disponibilité alimentaire (Kcal/personne/jour)',ascending=False)
p_dispo.head(10)

                       Disponibilité alimentaire (Kcal/personne/jour)
Pays
Autriche                                                       3770.0
Belgique                                                       3737.0
Turquie                                                        3708.0
États-Unis d'Amérique                                          3682.0
Israël                                                         3610.0
Irlande                                                        3602.0
Italie                                                         3578.0
Luxembourg                                                     3540.0
Égypte                                                         3518.0
Allemagne                                                      3503.0